# Firebase Client (à remplir avec vos credentials Firebase)
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_APP_ID=

# Brevo (envoi d'emails de feedback)
BREVO_API_KEY=
BREVO_SENDER_EMAIL=notifications@example.com
BREVO_SENDER_NAME=Votre App
FEEDBACK_EMAIL=contact@example.com
